{% extends "bootstrap/base.html" %}

{% block title %}留言簿{% endblock %}

{%block navbar%}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"  href="/">留言簿</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">option 1</a></li>
                <li><a href="/">option 2</a></li>
                <li><a href="/">option 3</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

