{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

{{ wtf.quick_form(message_form) }}

<br><br><br>
<div class="navbar navbar-inverse">
    <a  class="navbar-brand"  href="/">历史留言</a>
</div>

{%if messages%}
{% for content in messages%}
<div class="container">
<p class ="bg-info" style="font-size:130%;">{{content.user}}&nbsp;&nbsp;&nbsp;&nbsp;{{content.time}}</p>
<p  style="font-size:130%;">{{content.message}}</p>
</div>
{%endfor%}
{%endif%}

{% endblock%}